@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.container {
  display: flex;
  color: rgb(255, 255, 255);
  width: 100vw;
  justify-content: space-around;
  flex-wrap: wrap;
}
body {
  text-align: justify;
}

.person {
  height: 25vw;
  width: 20vw;
  border: 2px solid gold;
  margin: 2vw 10vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 500ms ease-in-out;
}
.person img {
  width: 100%;

  border-radius: 10px;
  height: 80%;
}
.person > div {
  font-family: "Poppins", sans-serif;
  font-size: 1.5vw;
  letter-spacing: 1.5px;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(37, 151, 122);
  align-items: center;
}
body {
  overflow-x: hidden;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 500ms ease-in-out;
  z-index: 200;
  color: white;
  height: 0;
  width: 0;
  border-radius: 10px;
  background-color: rgb(11, 11, 121);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: none;
}
.modal .wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal .wrapper span {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.5vw;
}
.modal img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
