@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap");

body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-uz8xOwy8gwhEy2IL0nyimFvqQwB8qXo85g&usqp=CAU);
  background-size: 600%;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.student {
  font-family: "Be Vietnam Pro", sans-serif;
  display: flex;
  letter-spacing: 1.5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(221, 224, 1);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  height: 300px;
  width: 420px;
  margin: 25px;
  border-radius: 20px;
  animation: 250ms fade ease-out;
}
.students {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.student > span {
  margin: 10px 0;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
