@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  padding-top: 0.06vh;
}

main.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
img {
  /* height:200px ;  */
  height: 93vh;
  width: 50vw;
}
main.content {
  border: 0;
  color: white;
  padding-left: 1vw;
}
h2 {
  font-size: 4.5vh;
}
a {
  text-decoration: none;
  color: white;
}
span {
  padding-left: 1vw;
}

.main {
  font-family: "Work Sans", sans-serif;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-uz8xOwy8gwhEy2IL0nyimFvqQwB8qXo85g&usqp=CAU);
  background-size: 600%;
}
