@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100&display=swap');
* {
    padding:0 ; 
    margin:0 ; 
    padding-top: 0.06vh;
}
ul.nav {
    background-color: black;
    color:black; 
    height:10vh; 
}
.left:hover {
    color: white ; 
    background-color: black;
    transform: scale(1);
}

.nav-items{
    display: inline-block;
    float:right ; 
    height:81% ; 
    /* border:1px solid black;  */
    padding:0 3vw ; 
    font-size: 4vh;;
    padding-top:1.49vh ; 
    font-family: 'Lexend', sans-serif;
    transition: 600ms ease-out;
    border:1px solid white ; 
    font-weight:bold;
    letter-spacing:2px;
    color:white ;
}
li:hover{ 
    color:black ; 
    background-color: white;
    transform: scale(.92);
}
li:hover a {
    color:white ; 
}
.left {
    float:left ; 
    font-family: 'Pattaya', sans-serif;
    color:white;
    border:none;
}
main.content , img {
    /* border:1px solid black ;  */
    border-right: 1px solid black ; ;
}
main.main {
    display:flex ; 
    flex-direction: row;
    align-items: flex-start;
}
img {
    /* height:200px ;  */
    height:89vh ; 
}
main.content {
    flex-basis: 70vw;
    border:0  ;
    color:white ; 
    padding-left:1vw ; 
}
h2 {
    font-size:4.5vh ; 
}
a {
    text-decoration: none;
    color:white ; 
}
span {
    padding-left: 1vw;
}

.main{
    font-family: 'Work Sans', sans-serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-uz8xOwy8gwhEy2IL0nyimFvqQwB8qXo85g&usqp=CAU);
    background-size:600%;}

